@model MultiVariateNetworkExplorer2.Models.GraphModel


<section class="column left-col" id="leftpanel">
        <div class="navigation">
            <div class="tab-nav">
                <a class="tab-link tab-active" href="#" onclick="openTab(event, 'attributes', 'leftpanel', '.column-content')" id="defaultTab">Attributes</a>
            </div>
            <div class="tab-nav">
                <a class="tab-link" href="#" onclick="openTab(event, 'settings', 'leftpanel', '.column-content')">Graph Settings</a>
            </div>
            <div></div>
        </div>
        <div class="column-content attributes" id="attributes">
            @foreach (var pair in Model.Mvn.VectorData.NumAtrrExtremes)
            {
                string sliderId = @pair.Key;
                <div class="numeric">
                    <h4>@sliderId</h4>
                    <div id="@(sliderId + "-slider")"></div>
                <script>createDoubleSlider('@(sliderId + "-slider")', '@(sliderId)','@(sliderId + "-sliderOutputMin")', '@(sliderId + "-sliderOutputMax")', @pair.Value.Min, @pair.Value.Max)</script>
                    <div class="row">
                        <div class="col-md-4">
                            <input type="number" id="@(sliderId + "-sliderOutputMin")" min="@pair.Value.Min" max="@pair.Value.Max" value="@pair.Value.Min" step="0.01" onchange="$('#' + '@(pair.Key + "-slider")').slider('option', 'value', this.value); filterByValue(this, '@pair.Key', lower, false);">
                        </div>
                        <div class="col-md-4 col-md-offset-4">
                            <input type="number" id="@(sliderId + "-sliderOutputMax")" min="@pair.Value.Min" max="@pair.Value.Max" value="@pair.Value.Max" step="0.01" onchange="$('#' + '@(pair.Key + "-slider")').slider('option', 'value', this.value); filterByValue(this, '@pair.Key', greater, true);">
                        </div>
                    </div>
                </div>
            }

            @foreach (var pair in Model.Mvn.VectorData.CatAttrValues)
            {
                <div class="categorical">
                    <h4>@pair.Key</h4>
                    <div class="checkboxes">
                        @foreach (string category in pair.Value)
                        {
                            <label for="@(category + "-checkbox")">@(category)</label>
                            <input type="checkbox" id="@(category + "-checkbox")" value="@category" onchange="filterByCategory('@pair.Key', '@category', this.checked)" checked />
                        }
                    </div>
                </div>
            }

        </div>
        <div class="column-content controls" id="settings">
            <div class="force alpha">
                <p><label>alpha</label> Simulation activity</p>
                <div class="alpha_bar" onclick="resetSimulation();"><div id="alpha_value"></div></div>
            </div>
            <div class="force">
                <p><label>Center</label> Shifts the view, so the graph is centered at this location.</p>
                <label>
                    x
                    <output id="center_XSliderOutput">.5</output>
                    <input type="range" min="0" max="1" value=".5" step="0.01" oninput="handleForceChange(this.value, 'center_XSliderOutput', 'center', 'x', updateCenterForce);">
                </label>
                <label>
                    y
                    <output id="center_YSliderOutput">.5</output>
                    <input type="range" min="0" max="1" value=".5" step="0.01" oninput="handleForceChange(this.value, 'center_YSliderOutput', 'center', 'y', updateCenterForce);">
                </label>
            </div>

            <div class="force">
                <p><label><input type="checkbox" id="charge_EnabledCheckbox" checked onchange="handleForceEnablement(this.checked, 'charge', updateChargeForce);"> Charge</label> Attracts (+) or repels (-) nodes to/from each other.</p>
                <label title="Negative strength repels nodes. Positive strength attracts nodes.">
                    strength
                    <output id="charge_StrengthSliderOutput">-80</output>
                    <input type="range" min="-200" max="50" value="-80" step=".1" oninput="handleForceChange(this.value, 'charge_StrengthSliderOutput', 'charge', 'strength', updateChargeForce);">
                </label>
                <label title="Minimum distance where force is applied">
                    distanceMin
                    <output id="charge_distanceMinSliderOutput">1</output>
                    <input type="range" min="0" max="50" value="1" step=".1" oninput="handleForceChange(this.value, 'charge_DistanceMinSliderOutput', 'charge', 'distanceMin', updateChargeForce);">
                </label>
                <label title="Maximum distance where force is applied">
                    distanceMax
                    <output id="charge_distanceMaxSliderOutput">2000</output>
                    <input type="range" min="0" max="2000" value="2000" step=".1" oninput="handleForceChange(this.value, 'charge_DistanceMaxSliderOutput', 'charge', 'distanceMax', updateChargeForce);">
                </label>
            </div>

            <div class="force">
            <p><label><input type="checkbox" id="collide_EnabledCheckbox" checked onchange="handleForceEnablement(this.checked, 'collide', updateCollideForce);"> Collide</label> Prevents nodes from overlapping</p>
                <label>
                    strength
                    <output id="collide_StrengthSliderOutput">.7</output>
                    <input type="range" min="0" max="2" value=".7" step=".1" oninput="handleForceChange(this.value, 'collide_StrengthSliderOutput', 'collide', 'strength', updateCollideForce);">
                </label>
                <label title="Size of nodes">
                    radius
                    <output id="collide_radiusSliderOutput">8</output>
                    <input type="range" min="0" max="100" value="8" step="1" oninput="forceProperties.collide.previousRadius = forceProperties.collide.radius; handleForceChange(this.value, 'collide_radiusSliderOutput', 'collide', 'radius', updateCollideForce); setNodeFontSize();">
                </label>
                <label title="Higher values increase rigidity of the nodes (WARNING: high values are computationally expensive)">
                    iterations
                    <output id="collide_iterationsSliderOutput">1</output>
                    <input type="range" min="1" max="10" value="1" step="1" oninput="handleForceChange(this.value, 'collide_iterationsSliderOutput', 'collide', 'iterations', updateCollideForce);">
                </label>
            </div>
            
            
            <div class="force">
            <p><label><input type="checkbox" id="link_EnabledCheckbox" checked onchange="    handleForceEnablement(this.checked, 'link', updateLinkForce);"> Link</label> Sets link length</p>
                <label title="The force will push/pull nodes to make links this long">
                    distance
                    <output id="link_DistanceSliderOutput">75</output>
                    <input type="range" min="0" max="100" value="75" step="1" oninput="handleForceChange(this.value, 'link_DistanceSliderOutput', 'link', 'distance', updateLinkForce);">
                </label>
                <label title="Higher values increase rigidity of the links (WARNING: high values are computationally expensive)">
                    iterations
                    <output id="link_IterationsSliderOutput">1</output>
                    <input type="range" min="1" max="10" value="1" step="1" oninput="handleForceChange(this.value, 'link_IterationsSliderOutput', 'link', 'iterations', updateLinkForce);">
                </label>
            </div>
            <div class="force">
                <p><label>Project</label> Modify position of a node based on its attribute value</p>
                <label class="attribute-selection-label" for="project-x-attributes">
                    X Axis
                    <select id="project-x-attributes" class="attribute-select" name="project-x-attributes" onchange = "projectAttributeXAxis(this);">
                        <option value="">--None--</option>
                        <optgroup label="Attributes">
                            @foreach(var key in Model.Mvn.VectorData.NumAtrrExtremes.Keys)
                            {
                                <option value="@key">@key</option>
                            }
                        </optgroup>
                        <optgroup label="Centralities">
                            <option value="degree">Degree</option>
                            <option value="closeness">Closeness</option>
                        </optgroup>
                    </select>
                </label>
                
                <label class="attribute-selection-label" for="project-y-attributes">
                    Y Axis
                    <select id="project-y-attributes" class="attribute-select" name="project-y-attributes" onchange = "projectAttributeYAxis(this);">
                        <option value="">--None--</option>
                        <optgroup label="Attributes">
                            @foreach(var key in Model.Mvn.VectorData.NumAtrrExtremes.Keys)
                            {
                                <option value="@key">@key</option>
                            }
                        </optgroup>
                        <optgroup label="Centralities">
                            <option value="degree">Degree</option>
                            <option value="closeness">Closeness</option>
                        </optgroup>
                    </select>
                </label>
                
            </div>
             <div class="force">
            <p><label><input type="checkbox" id="label_EnabledCheckbox" checked onchange="forceProperties.labels.enabled = this.checked; enableNodeLabels();"> Node Label</label>Set a node label based on chosen attribute</p>
                <label class="attribute-selection-label" for="node-label-select">
                    Choose Attribute:
                    <select id="node-label-select" class="attribute-select" name="node-label-select" onchange ="setNodeLabel(this)">
                        <option value="">--None--</option>
                        <option value="id" selected>id</option>
                        <optgroup label="Attributes">
                            @foreach(var key in Model.Mvn.VectorData.NumAtrrExtremes.Keys)
                            {
                                <option value="@key">@key</option>
                            }
                        </optgroup>
                        <optgroup label="Centralities">
                            <option value="degree">Degree</option>
                            <option value="closeness">Closeness</option>
                        </optgroup>
                    </select>
                </label>
            </div>
            <div class="force">
                <p><label>Attribute Node Sizing</label> Modify size of node based on its attribute value</p>
                <label class="attribute-selection-label" for="attribute-node-sizing">
                    Choose Attribute:
                    <select id="attribute-node-sizing" class="attribute-select" name="attribute-node-sizing" onchange ="setAttributeNodeSizing(this)">
                        <option value="">--None--</option>
                        <optgroup label="Attributes">
                            @foreach(var key in Model.Mvn.VectorData.NumAtrrExtremes.Keys)
                            {
                                <option value="@key">@key</option>
                            }
                        </optgroup>
                        <optgroup label="Centralities">
                            <option value="degree">Degree</option>
                            <option value="closeness">Closeness</option>
                        </optgroup>
                    </select>
                </label>
            </div>
            <div class="force" id="color-settings">
                <div class="colour-row">
                    <label class="colouring">
                        Default node colour
                        <input type="color" id="network-colour-input" value="#FFFFFF" onchange="changeNetworkNodeColour(value)" >
                    </label>
                    <label class="colouring">
                        Background colour
                        <input type="color" id="background-colour-input" value= "#000000" onchange="changeNetworkBackgroundColour(value);">
                    </label>
                </div>
            </div>
            <div class="force">
                <p><label>Attribute Node Colouring</label>Modify colour of node based on its attribute value</p>
                <label class="attribute-selection-label" for="attribute-node-colouring">
                    Choose Attribute:
                    <select id="attribute-node-colouring" class="attribute-select" name="attribute-node-colouring" onchange ="setAttributeNodeColouring(this)">
                        <option value="">--None--</option>
                        <optgroup label="Numeric Attributes">
                            @foreach(var key in Model.Mvn.VectorData.NumAtrrExtremes.Keys)
                            {
                                <option value="@key">@key</option>
                            }
                        </optgroup>
                        @*<optgroup label="Categorical Attributes">
                            @foreach(var key in Model.Mvn.VectorData.CatAttrValues.Keys)
                            {
                                <option value="@key">@key</option>
                            }
                        </optgroup>*@
                        <optgroup label="Centralities">
                            <option value="degree">Degree</option>
                            <option value="closeness">Closeness</option>
                        </optgroup>
                    </select>
                </label>
                <div class="colour-row">
                    <label class="colouring" for="low-value-colour">
                        Low value colour
                        <input type="color" id="low-value-colour" value="#0000FF">
                    </label>
                    <label class="colouring" for="high-value-colour">
                        High value colour
                        <input type="color" id="high-value-colour" value="#FF0000">
                    </label>
                </div>
                
            </div>
            <div class="force">
                <p><label>Remodel the network</label> With option to exclude some attributes</p>
                <label class="attribute-selection-label" for="remodel-network-select">
                    Choose Attribute:
                <select class="attribute-select" id="remodel-network-select" onchange="updateRemodelOptionsHeader('remodel-attribute-panel-header', this.id); displayAttributeTransformation(this.value, 'attribute-transformation-list')" asp-items="@(new SelectList(Model.Mvn.VectorData.NumAtrrExtremes.Keys))"></select>
                </label>
                <div class="transformation-options">
                    <div class="transformation-option" id="normalize-option" data-role="normalize">
                        <h5>Normalize</h5>
                        <button class="tranformation-btn" onclick="addTransformation(this, 'remodel-network-select', 'attribute-transformation-list')">Current Attribute</button>
                        <button class="tranformation-btn" onclick="addTransformationToAll(this, 'remodel-network-select', 'attribute-transformation-list')">All Attributes</button>
                    </div>
                    <div class="transformation-option" id="rescale-option" data-role="rescale">
                        <h5>Rescale</h5>
                        <button class="tranformation-btn" onclick="addTransformation(this, 'remodel-network-select', 'attribute-transformation-list')">Current Attribute</button>
                        <button class="tranformation-btn" onclick="addTransformationToAll(this, 'remodel-network-select', 'attribute-transformation-list')">All Attributes</button>
                    </div>
                    <div class="transformation-option" id="standardize-option" data-role="standardize">
                        <h5>Standardize</h5>
                        <button class="tranformation-btn" onclick="addTransformation(this, 'remodel-network-select', 'attribute-transformation-list')">Current Attribute</button>
                        <button class="tranformation-btn" onclick="addTransformationToAll(this, 'remodel-network-select', 'attribute-transformation-list')">All Attributes</button>
                    </div>
                    <div class="transformation-option" id="distribute" data-role="distribute">
                        <h5>Log Normal To Normal</h5>
                        <button class="tranformation-btn" onclick="addTransformation(this, 'remodel-network-select', 'attribute-transformation-list')">Current Attribute</button>
                        <button class="tranformation-btn" onclick="addTransformationToAll(this, 'remodel-network-select', 'attribute-transformation-list')">All Attributes</button>
                    </div>
                </div>

                <div class="remodel-attribute-panel" id="remodel-panel">
                    <h4 id="remodel-attribute-panel-header" onload="updateRemodelOptionsHeader(this.id, 'remodel-network-select')"></h4>
                    <div class="checkboxes">
                        <label for="remodel-checkbox">Use for remodeling?</label>
                        <input type="checkbox" id="remodel-checkbox" data-role="remodeling" onchange="updateRemodelingAttributes(this, 'remodel-network-select')" checked />
                    </div>
                    
                    <ul class="transformation-list" id="attribute-transformation-list"></ul>
                <button class="attribute-clear-btn" onclick="clearAttributeTransformations('remodel-network-select')">Clear</button>
                </div>
                
                <div class="remodel-div" id="remodel-div">
                    <h4 id="remodel-algorithm-headline">Algorithm Parameters</h4>
                    <label for="remodel-algorithm-select">Choose a conversion algorithm:</label>
                    <select name="remodel-algorithm-select" id="remodel-algorithm-select" onchange="displayAlgorithmParameters(this.id)">
                        <option value="LRNet" selected>LRNet</option>
                        <option value="EpsilonKNN">Epsilon and kNN</option>
                    </select>

                    <div class="algorithm-parameters-container">
                        <div class="algorithm-parameters" id="epsilon-parameters">
                            <label for="epsilonRadius">Choose a radius</label>
                            <input type="number" id="epsilonRadius" name="epsilonRadius" step="0.00001" min="0" max="1" value="1" />

                            <label for="kNNmin">Choose a minimal number of neighbours</label>
                            <input type="number" id="kNNmin" name="kNNmin" min="0" value="1" />
                        </div>
                    </div>
                            
                    
                    <h4 id="remodel-metric-headline">Metric Parameters</h4>
                    <label for="remodel-metric-select">Choose a conversion metric:</label>
                    <select name="remodel-metric-select" id="remodel-metric-select" onchange="displayMetricParameters(this.id)">
                        <option value="GaussKernel" selected>Gaussian Kernel</option>
                        <option value="CosineSimilarity">Cosine Similarity</option>
                        <option value="EuclideanKernel">Euclidean Kernel</option>
                    </select>

                    <div class="metric-parameters-container">
                        <div class="metric-parameters" id="gauss-parameters">
                            <label for="sigma">Choose a standard deviation</label>
                            <input type="number" id="sigma" name="sigma" step="0.001" min="0" value="1" />
                        </div>
                    </div>

                </div>
                <div class="align-right-div">
                    <button type="button" class="settings-submit-btn" onclick="remodelNetwork('remodel-attributes', 'remodel-algorithm-select', 'remodel-metric-select')">Remodel</button>
                </div>
            </div>
        </div>

</section>
