@model MultiVariateNetworkExplorer2.Models.GraphModel
@{
    ViewData["Title"] = "Graph";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="main-div">
    <partial name="MvnInputPartial" />
    <partial name="ToolBarPartial" />
    <div class="graph-section">
        <partial name="ControlsPartial" />
        <section id="graph" class="column graph-col">
            <div class="navigation">
                <div class="tab-nav">
                    <a class="tab-link tab-active" href="#" onclick="openTab(event, 'networkGraph', 'graph', '.graph-content')" id="defaultGraphTab">Network Graph</a>
                </div>
                <div class="tab-nav">
                    <a class="tab-link" href="#" onclick="openTab(event, 'selectionGraph', 'graph', '.graph-content') ">Selection Graph</a>
                </div>
                <div class="tab-nav">
                    <a class="tab-link" href="#" onclick="openTab(event, 'networkMetrics', 'graph', '.graph-content') ">Graph Metrics</a>
                </div>
            </div>
            <div id="networkGraph" class="graph-content">
                <svg></svg>
                @*<script src="~/js/d3v4-brush-lite.js" asp-append-version="true"></script>*@
                <environment include="Development">
                    <script src="https://d3js.org/d3.v4.js" charset="utf-8"></script>
                    <script src="~/js/graph.js" type="text/javascript" asp-append-version="true"></script>
                </environment>
                <environment exclude="Development">
                    <script src="https://d3js.org/d3.v4.min.js" charset="utf-8"></script>
                    <script src="~/js/graph.min.js" type="text/javascript" asp-append-version="true"></script>
                </environment>
                <script>
                    initGraph(@Html.Raw(Model.Graph));
                </script>
                <div class="node-detail-container" id="node-detail-container">
                    <div class="node-detail-heading-container">
                        <h4 id="node-detail-heading">Node:</h4>
                        <button class="close-button" onclick="closeNodeDetails('node-detail-container')">X</button>
                    </div>
                    <div id="node-detail" class="node-detail">
                        <div id="node-attributes">
                            @foreach (var attribute in Model.Mvn.VectorData.Columns)
                            {
                                <div class="node-property-group">
                                    <label for="@("display-" + attribute)">@(attribute + ":")</label>
                                    <input type="text" id="@("display-" + attribute)" value="" data-attribute="@($"{attribute}")" readonly />
                                </div>
                            }
                        </div>
                        <div id="node-centralities">
                            <div class="node-property-group">
                                <label for="display-degree">Degree:</label>
                                <input type="text" id="display-degree" value="" data-attribute="degree" readonly />
                            </div>
                            <div class="node-property-group">
                                <label for="display-closeness">Closeness:</label>
                                <input type="text" id="display-closeness" value="" data-attribute="closeness" readonly />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="selectionGraph" class="graph-content">
                <svg></svg>
                <script>
                    drawSelectionNetwork(@Html.Raw(Model.Selection));
                </script>
            </div>
            <div id="networkMetrics" class="graph-content">
                <div class="network-metrics-container">
                    <div class="network-metric-sync-content" data-value="getNodeCount(graph)">
                        <h5>Number of Nodes:</h5>
                        <span class="metric-value" onclick="getGraphProperty(graph, this.parentNode);">Calculating...</span>
                    </div>
                    <div class="network-metric-sync-content" data-value="getLinkCount(graph)">
                        <h5>Number of Links:</h5>
                        <span class="metric-value" onclick="getGraphProperty(graph, this.parentNode);">Calculating...</span>
                    </div>
                    <div class="network-metric-async-content" data-value="degree">
                        <h5>Average Degree:</h5>
                        <span class="metric-value" onclick="calculateMetricAsync(graph, this.parentNode);">Calculating...</span>
                    </div>
                    <div class="network-metric-async-content" data-value="closeness">
                        <h5>Average Closeness:</h5>
                        <span class="metric-value" onclick="calculateMetricAsync(graph, this.parentNode);">Calculating...</span>
                    </div>
                </div>
            </div>
        
        </section>
        <partial name="NodesPartial" />
    </div>
    <footer class="bottom-panel">
        Version: 0.1.0
    </footer>
</main>
@if (TempData["ErrorMessage"] != null)
{  
    <script>
        window.addEventListener("load", () => {
            alert("@TempData["ErrorMessage"]");
        });
    </script>  
} 

