@* @model MultiVariateNetworkExplorer2.Models.GraphModel *@
@model MultiVariateNetworkExplorer2.Models.ApplicationModels
@{
    ViewData["Title"] = "Graph";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (User.Identity.IsAuthenticated)
{
<main class="main-div">
    <partial name="MvnInputPartial" />
    <div class="d-flex flex-row border-bottom border-white" id="graph-header">
        <partial name="ToolBarPartial" />
        <partial name="LogoutPartial" />
    </div>
    <div class="graph-section">
        <partial name="ControlsPartial" />
        <section id="graph" class="column graph-col">
            <div class="navigation">
                <div class="tab-nav">
                    <a class="tab-link tab-active" href="#" onclick="openTab(event, 'networkGraph', 'graph', '.graph-content')" id="defaultGraphTab">Network</a>
                </div>
                <div class="tab-nav">
                    <a class="tab-link" href="#" onclick="openTab(event, 'networkMetrics', 'graph', '.graph-content') ">Network Properties</a>
                </div>
                <div class="tab-nav">
                    <a class="tab-link" href="#" onclick="openTab(event, 'partition-metrics', 'graph', '.graph-content') ">Cluster Statistics</a>
                </div>
            </div>
            <div id="networkGraph" class="graph-content active-block">
                <svg @* width="100%" height="100%" *@></svg>
                    
                
            </div>
                <!--TODO: REMOVE selectionGraph and make the project independent of it -->
            <div id="selectionGraph" class="graph-content">
                <svg></svg>
            </div>
            <div id="networkMetrics" class="graph-content">
                <div class="network-metrics-container">
                    <div class="network-metric-sync-content" data-value="currentGraph.nodeCount">
                        <h4>Number of Nodes:</h4>
                        <span class="metric-value" onclick="getGraphProperty(graph, this.parentNode);">Calculating...</span>
                    </div>
                        <div class="network-metric-sync-content" data-value="currentGraph.linkCount">
                        <h4>Number of Links:</h4>
                        <span class="metric-value" onclick="getGraphProperty(graph, this.parentNode);">Calculating...</span>
                    </div>
                    <div class="network-metric-async-content" data-value="degree">
                        <h4>Average Degree:</h4>
                        <span class="metric-value" onclick="calculateMetricAsync(graph, this.parentNode);">Calculating...</span>
                    </div>
                    @* <div class="network-metric-async-content" data-value="closeness">
                        <h4>Average Closeness:</h4>
                        <span class="metric-value" onclick="calculateMetricAsync(graph, this.parentNode);">Calculating...</span>
                    </div> *@
                </div>
            </div>
            <div id="partition-metrics" class="graph-content scrollbar-thin">
                <div id="partition-metric-select-container">
                    <label for="partition-metric-select">Select metric:</label>
                    <select id="partition-metric-select" onchange="displayPartitionMetric()">
                            <option selected value="silhouette" title="Silhouette">Silhouette Index</option>
                            <option value="mcc" title="Mathews\'s correlation coefficient">Mathews's correlation coefficient</option>
                            <option value="boxplot" title="Boxplot">Boxplot</option>
                    </select>
                </div>
                <div class="active-block partition-metric-wrapper" id="partition-metric-silhouette-container">
                    <div class="flex-row justify-content-start">
                         <label for="silhouette-metric-btn">Calculate Silhouette index for current partitions:</label>
                        <button id="silhouette-metric-btn" onclick="requestSilhouette()">Run</button>
                    </div>
                    <div class="partition-metric-graph-container" id="partition-metric-silhouette-complete-graph-container"></div>
                    <div class="partition-metric-graph-container-grid" id="partition-metric-silhouette-graph-container"></div>
                </div>
                <div class="partition-metric-wrapper" id="partition-metric-mcc-container">
                    <div class="flex-row justify-content-start">
                        <label for="partition-metric-mcc-attribute-select">Select real class attribute:</label>
                        <select id="partition-metric-mcc-attribute-select">
                            @foreach (var key in Model.GraphModel.Mvn.VectorData.CatAttrValues.Keys)
                            {
                                <option value="@key">@key</option>
                            }
                        </select>
                            <button onclick="createPartitionMccGraphs()">Run</button>
                    </div>
                    <div class="partition-metric-graph-container-grid" id="partition-metric-mcc-graph-container"></div>
                </div>
                <div class="partition-metric-wrapper " id="partition-metric-boxplot-container">
                    <div class="flex-row justify-content-start">
                        <label for="partition-metric-boxplot-type-select">Select boxplot type:</label>
                        <select id="partition-metric-boxplot-type-select" onchange="changeBoxplotContainer(event)">
                            <option value="attributes" selected>Atributes across Partition</option>
                            <option value="partitions">Partitions across Atribute</option>
                        </select>
                        <button onclick="invokeBoxplotGeneration()">Run</button>
                    </div>
                    <div class="partition-metric-graph-container-grid partition-boxplot-container active-grid" id="partition-metric-partition-boxplot-graph-container"></div>
                    <div class="partition-metric-graph-container-grid partition-boxplot-container" id="partition-metric-attribute-boxplot-graph-container"></div>
                </div>
            </div>
        
        </section>
        <partial name="NodesPartial" />
    </div>
    <footer class="bottom-panel">
        Version: 0.1.1
    </footer>
</main>
    @if (TempData["ErrorMessage"] != null)
    {  
        <script>
            window.addEventListener("load", () => {
                alert("@TempData["ErrorMessage"]");
            });
        </script>  
    } 
    
    @*<script src="~/js/d3v4-brush-lite.js" asp-append-version="true"></script>*@
    <environment include="Development">
        <script src="https://d3js.org/d3.v4.js" charset="utf-8"></script>
        <script src="~/js/Graph.js" type="text/javascript" charset="utf-8" asp-append-version="true"></script>
        <script src="~/js/graph-drawing.js" type="text/javascript" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://d3js.org/d3.v4.min.js" charset="utf-8"></script>
        <script src="~/js/Graph.js" type="text/javascript" charset="utf-8" asp-append-version="true"></script>
        <script src="~/js/graph.min.js" type="text/javascript" asp-append-version="true"></script>
    </environment>
    <script>
        initGraph(@Html.Raw(Model.GraphModel.Graph));
        drawSelectionNetwork(@Html.Raw(Model.GraphModel.Selection));
    </script>
    
}

