@model MultiVariateNetworkExplorer2.Models.ApplicationModels
<section class="column right-col" id="rightpanel">
        <div class="navigation">
            <div class="tab-nav">
                <a class="tab-link tab-active" href="#" onclick="openTab(event, 'accordion', 'rightpanel', '.column-content')">Node Properties</a>
            </div>
            <div class="tab-nav">
                <a class="tab-link" href="#" onclick="openTab(event, 'selections', 'rightpanel', '.column-content')">Cluster Properties</a>
            </div>
        </div>
        <div class="column-content node-attributes active-block" id="accordion">
            <div class="node-block" id="node-section">
                <div id="node-nav">
                    <input class="node-select-input attribute-select attribute-select-border" list="node-list" id="node-list-input" placeholder="Search node..." />
                    <ul class="node-select-list attribute-select attribute-select-border" id="node-list">
                    @for (int node = 0; node < Model.GraphModel.Mvn.VectorData.DataCount; node++)
                    {
                        string nodeId = Model.GraphModel.Mvn.VectorData.IdColumn[node];
                        <li class="node-li" id="@("node-li-" + nodeId)" onmousedown="nodeHeadingClick('@(nodeId)' , @(node))">@(nodeId)</li>
                    }
                    </ul>
                </div>
                <div class="node-detail-container" id="node-detail-container">
                    <div id="node-detail" class="node-detail">
                        @if (!Model.GraphModel.Mvn.IsEmpty())
                        {
                            <div id="node-attributes">
                                <div id="node-attributes-numerical">
                                    @foreach (string numAttribute in Model.GraphModel.Mvn.VectorData.NumAtrrExtremes.Keys)
                                    {
                                        <div class="node-property-group">
                                            <label title="@(numAttribute)" for="@("display-" + numAttribute)">
                                                @(
                                                    numAttribute + ":"
                                                    )
                                            </label>
                                            <input type="text" id="@("display-" + numAttribute)" value="" data-attribute="@(
                                        $"{numAttribute}"
                                        )" readonly />
                                        </div>
                                        <div id="@(numAttribute + "-histogram-container")"></div>
                                    }
                                </div>
                                <div id="node-attributes-categorical">
                                    @foreach (string catAttribute in Model.GraphModel.Mvn.VectorData.CatAttrValues.Keys)
                                    {
                                        <div class="node-property-group">
                                            <label title="@(catAttribute)" for="@("display-" + catAttribute)">
                                                @(
                                                    catAttribute + ":"
                                                    )
                                            </label>
                                            <input type="text" id="@("display-" + catAttribute)" value="" data-attribute="@(
                                            $"{catAttribute}"
                                            )" readonly />
                                        </div>
                                    }
                                </div>
                            </div>
                            <div id="node-centralities">
                                <div class="node-property-group">
                                    <label for="display-degree">Degree:</label>
                                    <input type="text" id="display-degree" value="" data-attribute="degree" readonly />
                                </div>
                                <div class="node-property-group">
                                    <label for="display-clustering-coefficient">Clustering Coefficient:</label>
                                    <input type="text" id="display-clustering-coefficient" value="" data-attribute="clustering_coefficient" readonly />
                                </div>

                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="node-block" id="node-neighbors-section">
                <h4 class="node-section-headline" id="neighbors-headline">Node neighbors:</h4>
                <div class="node-grid" id="neighbors-nav"></div>
            </div>
        </div>
        <div class="column-content selections" id="selections">
            <label class="attribute-selection-label" for="partitions-selection-attributes">
                Assign partitions
            </label>
            <div class="inline-space-evenly">
                <select id="partitions-selection-attributes" class="attribute-select attribute-select-border" name="partitions-selection-attributes">
                    <option value="modularity">Modularity</option>
                    @foreach (var key in Model.GraphModel.Mvn.VectorData.CatAttrValues.Keys)
                    {
                        <option value="@key">@key</option>
                    }
                </select>
                <button class="d-inline-block" onclick="assignAttributePartitions('partitions-selection-attributes', currentGraph)">Run</button>
            </div>
            <div class="selection-edit">
                <input type="button" onclick="addNewSelection();" value="Add New Selection" />
                <input type="button" onclick="deleteAllSelections(currentGraph);" value="Delete All Selections" />
            </div>
            <div class="selection-list" id="list-selections" role="tablist" aria-multiselectable="true"></div>
        </div>
</section>
